# Environment variables (CRITICAL!)
.env
file.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# Upload folder
upload/
*.pdf
# *.docx


# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite

# Logs
*.log

*.claude

# Model cache
.cache/

penulisan/
streamlit_app/
CHANGELOG_BAB1.md
rag-llm-results-dashboard/