name: Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          password: ${{ secrets.DEPLOY_PASSWORD }}
          script: |
            cd /opt/RAG-LLM-ASSESSMENT
            git pull origin master
            source venv/bin/activate
            pip install -r requirements.txt
            sudo systemctl restart rag-assessment
            echo "Deployment selesai!"
